@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
:root{
    --body-color:#1f51d8;
    --nav-color:#0e0446;
    --side-nav:#010718;
    --text-color:#fff;
    --search-bar:#f2f2f2;
    --search-text:#010718;
}
nav .nav-bar .sidebaropen{
    color: white;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}
body{
    height: 100vh;
    background-color: var(--body-color);
}
section{
    
    width: 100%;
    height: auto;
    background-color: var(--body-color);
    background: linear-gradient(-45deg,#7c67ff,#836af5,#68d6ff,#894dff);

    /*#7c67ff,#836af5,#68d6ff,#894dff
    
    #EE7572,#E73C7E,#23A6D5,#23D5AB */
    background-size: 400% 400%;
    position: relative;
    color: #fff;
    animation: change 5s ease-in-out infinite;
    
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

body.dark{
    --body-color:#161615;
    --nav-color:#3a1308;
    --side-nav:#242526;
    --text-color:#ccc;
    --search-text:#010718;
}
nav{
    position:sticky;
    top: 0;
    left: 0;
    background-color: var(--nav-color);
    height: 15%;
    width: 100%;
    padding: 12px;
}
nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1300px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .nav-bar .logo a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    color: var(--text-color);
}
.nav-bar .logo a::before{

    content: '';
    position: absolute;
    background-color: var(--text-color);
    height: 6px;
    width: 6px;
    border-radius: 50%;
}
.nav-links li a::before{
    content: '';
    position: absolute;
    left: 40%;
    top: 95%;
    transform: translateX(50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}
.nav-bar .nav-links{
    display: flex;
    align-items: center;

}
.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}
.nav-links  li a{
    position: relative;
    text-decoration: none;
    font-size: 16x;
    font-weight: 400;
    color: var(--text-color);
    padding: 3px;
}

.nav-links li:hover a::before{

    opacity: 1;
}
.nav-bar .darklight-searchbox{
    display:flex;
    align-items: center;
}
.darklight-searchbox .dark-light{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.dark-light i{
position: absolute;
color: var(--text-color);
font-size: 22px;
cursor: pointer;
transition: all 0.3s ease;
}
.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}
.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}
.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.menu .logo-toggle{
    
    display: none;
}
.logo-toggle .sidebarclose{
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
}

/*body contents */
.tv1{
    margin-top: 20px;
    margin-bottom: 100px ;
}
.row1{
    padding: 0px 0px 0px 0px;
    justify-content: center;
    
}
.header1{
    display: flex;
    flex-direction: column;
    margin-top:20px;
    justify-content: center;
    align-items: center;
     color: #010718;
}
.header{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.sub-header{
    font-family: 'Poppins', sans-serif;
}
.headerr{
    display: flex;
    flex-direction: column;
    margin-top:20px;
    justify-content: center;
    align-items: center;
     color: #010718;
     font-weight: 700;
}
.headerr11{
  display: flex;
  flex-direction: column;
  margin-top:20px;
  
   color: #0e0f0f;
   font-weight: 700;
}
.hr-line{
    color: black;
    height: 7px;
}
.c{
    padding: 10px;
}
.c2{
   
    text-align: center;
    padding: 90px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px black;

}
.c2 a{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}
/*games*/
.games1 a{
  text-decoration: none;
  color: white;
}.games1 a::after{
  text-decoration: none;
  color: white;
}

.games a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
.SPACE{
  padding: 50px;
}
/*footer*/
.site-footer
{
    
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}























@media (max-width:852px){
    nav .nav-bar .sidebaropen{
        display:block;
    }
    
    .menu{
        position:fixed;
        height: 100%;
        width:320px;
        top: 0;
        left:-100%;
        padding: 20px;
        background-color: var(--side-nav);
        z-index:1 ;
        transition: all 0.4s ease;
    }
    nav.active .menu{
        left:-0%;
    }
    .nav-bar .nav-links{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
          }
    .nav-links  li a{
    display: block;
    margin-top: 25px;
}
.menu .logo-toggle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-toggle .right{
    color: var(--text-color);
    font-size: 25px;
    cursor: pointer;
}
.header{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
  }
  .sub-header{
    font-family: sans-serif;
    font-size: 1.2rem;
}

        }

        @media (max-width:580px){
            .header{
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
                font-size: 1.0rem;
              }
              .sub-header{
                font-family: sans-serif;
                font-size: .8rem;
            }
        }